:root {
  --accent: red;
  --card-foreground: #00000080;
  --coral: coral;
  --cornflowerblue: cornflowerblue;
}

* {
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  // max-width: 1440px;
  padding: clamp(0.25rem, 4cqi, 10rem);
  margin-block: 10rem;

  // margin-inline: auto;
  line-height: 1.5;
}
