.module {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  padding-inline: 1rem;
  color: white;
  background-color: var(--coral);
  border-radius: 6px;
}

.module[data-color='cornflowerblue'] {
  background-color: var(--cornflowerblue);
}

.image {
  @container card (395px < width) {
    display: none;
  }
}
